<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/pdtdetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    <%- include('dashboard',{type:type,user:user}); %>
    <section class = "home-section">
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "/images/index-6.jpeg" alt = "shoe image">
              <img src = "/images/index-6.jpeg" alt = "shoe image">
              <img src = "/images/index-6.jpeg" alt = "shoe image">
              <img src = "/images/index-6.jpeg" alt = "shoe image">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "/images/index-2.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "/images/index-2.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "/images/index-2.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "/images/index-2.jpg" alt = "shoe image">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title" id="pdtHead"><%=pdtHead%></h2>
          <div class = "product-price">
            <p class = "new-price">New Price: <span id="pdtPrice"><%=pdtPrice%></span></p>
          </div>

          <div class = "product-detail">
            <h2>about this item: </h2>
            <p><%=pdtDetail%></p>
          </div>

          <div class = "purchase-info">
            <input type = "number" min = "0" value = "1" name="numInput" id="numInput">
            <button type = "button" class = "btn" onclick="submitPrice()">
              Buy <i class = "fas fa-shopping-cart"></i>
            </button>
          </div>

          <div class = "social-links">
            <a href = "/pdts">
              <i class = "fas fa-angle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
    
    <script>
        const imgs = document.querySelectorAll('.img-select a');
        const imgBtns = [...imgs];
        let imgId = 1;
        imgBtns.forEach((imgItem) => {
          imgItem.addEventListener('click', (event) => {
            event.preventDefault();
            imgId = imgItem.dataset.id;
            slideImage();
          });
        });
        function slideImage(){
          const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;
          document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
        }
        window.addEventListener('resize', slideImage);

        function submitPrice(){
          const numInput = document.getElementById('numInput');
          const pdtHead = document.getElementById('pdtHead');
          const pdtPrice = document.getElementById('pdtPrice');

          console.log(typeof(numInput.value));
          console.log(pdtHead.textContent);
          console.log(typeof(pdtPrice.textContent));
          let price = parseInt(numInput.value)*parseInt(pdtPrice.textContent);
          window.location.href="/pay/"+price.toString()+"/<%=user%>";
        }
        //window.location.href='/test'
    </script>
  </body>
</html>